<style>
   
    .google_img{
        text-align: center;
        display: block;
        padding-top: 205px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    form {
        display: block;
        text-align: center;
        border-width: 60px;

    }

    #nav_bar{
        font-family: sans-serif;
        float: right;
        
    }

    .buttons{
        font-family: sans-serif;
        text-align: center;
        padding-top: 0px;
        margin-bottom: 300px; 
        height: 30px;
            }
    #search, #lucky { 
        height: 30px;
        font-size: 14;
        width: 145px;
        background: grey;
    }
    

    #button:hover{
        box-shadow: 3px 3px 5px;
        
    }
   

    #sign_in{
        background: #4887ef;
        border-radius: 5px;
    }
    #sign_in:hover{
        box-shadow: 3px 3px 5px;
    }
  
    
input{

    width: 584px;
    height: 44px;
    border-radius: 25px;
    outline: none;
    font-size: large;
    font-family: sans-serif;
    border-color: none;
}

input:hover{
    box-shadow:1px 1px 4px;
}
      /* REMOVING COLOR CHANGE ON TEXT LINK*/
    a{
        text-decoration: none;
        color: inherit;
    }

    /*BRING UNDERLINE ON HOVER*/
    a:hover{
        text-decoration: underline;
    }

    .nav-links{
        display: inline-block;
        padding: 10px;

    }

    ul{
        list-style: none;
    }

    footer  {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
/*   position: fixed; */
/*
  bottom: 0px;
  padding-top: 100px;
  width: 100%;
  padding: 0px !important;
  max-width: 100% !important;
  */

  /*FROM AYDIN*/
     position: fixed;
     height: 50px;
     background-color: #f2f2f2;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin-bottom: 0px;
     font-family: sans-serif;
        

}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}



</style>

